<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>Usuarios</h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form id="frm">
				<p:growl id="msg" showDetail="true" escape="false" autoUpdate="true" />

				<p:dataTable id="dt" var="e" value="#{usuariosBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">

					<f:facet name="header">
						<p:outputPanel>
							<p:inputText id="globalFilter" value="#{usuariosBean.VUsuario}"
								style="width:150px" placeholder="Ingrese nombre de usuario" />
							<p:commandButton value="Buscar"
								action="#{usuariosBean.buscarUsuario()}" process="@parent"
								update="dt" />
						</p:outputPanel>
					</f:facet>


					<p:column headerText="Id">
						<p:outputLabel value="#{e.id}" />
					</p:column>

					<p:column headerText="Nombre">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acciones" exportable="false">
						<p:commandLink actionListener="#{usuariosBean.mostrarUsuario(e)}"
							oncomplete="PF('wdlg').show()" process="@this" update="frm:dlg">
							<h:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>

				</p:dataTable>

				<p:dialog id="dlg"
					header="Modificando usuario: #{usuariosBean.usuario.usuario}"
					widgetVar="wdlg" modal="true" resizable="false" draggable="true"
					visible="" showEffect="degradde">
					<h:form id="frm2">

						<h:panelGrid id="panel" columns="3">

							<p:outputLabel value="Nombre" />
							<p:inputText value="#{usuariosBean.usuario.usuario}" />
							<p:column></p:column>


						</h:panelGrid>

						<h:panelGrid id="panel2" columns="3">
							<p:outputLabel value="Contraseña actual: " />
							<p:password id="password1" value="#{usuariosBean.password1}" />
							<p:commandButton value="Verificar"
								actionListener="#{usuariosBean.verificarPassword(usuariosBean.usuario)}"
								process="@this, frm:guardar, panel2, frm2:panel "
								update="frm:panel1, frm:msg" />

						</h:panelGrid>
					</h:form>


					<h:panelGrid id="panel1" columns="3">
						<p:outputLabel for="pwd1" value="Nueva contraseña: " />
						<p:password id="pwd1" value="#{usuariosBean.password2}"
							match="pwd2" label="Password 1" required="true"
							validatorMessage="Las contraseñas no coinciden" />

						<!-- <p:message for="pwd1" id="msj" autoUpdate="true" display="text"/> -->


						<p:outputLabel for="pwd2" value="Confirmar contraseña:" />
						<p:password id="pwd2" value="#{usuariosBean.password2}"
							label="Password 2" required="true"
							validatorMessage="Las contraseñas no coinciden" />
						<p:column />


						<p:commandButton id="guardar" icon="ui-icon-disk" value="Aceptar"
							actionListener="#{usuariosBean.operar()}"
							rendered="#{usuariosBean.activo}" process="@this, pwd2,pwd1"
							update="frm:panel1" />
						<p:commandButton icon="ui-icon-close" value="Cancelar"
							action="usuarios?faces-redirect=true" immediate="true" />
					</h:panelGrid>

				</p:dialog>

			</h:form>
		</ui:define>
	</ui:composition>

</body>
</html>
